<!DOCTYPE html>
<html>
  <head>
    <link rel="shortcut icon" type="image/x-icon" href="../static/small_logo.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Preferences</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/signup.css" rel="stylesheet">

  </head>

  <body>
  <div class="container">
     <img class = 'resize' src="{{url_for('static', filename='xcelerate.png')}}" alt="xcelerate">
     <h4 align = 'center'><font color="#4d73be">Are you looking to increase levels of training?</font></h4>

     <form method="post">
       <center>
       <button name="training_level_increase" value="1" formaction="{{ url_for('max_days', username=username) }}">Yes </button>
       <button name="training_level_increase" value="0" formaction="{{ url_for('add', username=username) }}">No </button>
       </center>
     </form> 
  </div>
  </body>
</html>

