<!DOCTYPE html>

<html>
<head>
<title>Xcelerate</title>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<link href="../static/signup.css" rel="stylesheet">

<meta charset='utf-8' />
<link href="{{ url_for('static', filename='fullcalendar.min.css') }}" rel='stylesheet' />
<link href="{{ url_for('static', filename='font-awesome-4.7.0/css/font-awesome.min.css') }}" rel='stylesheet' />
<link href="{{ url_for('static', filename='fullcalendar.print.css') }}" rel='stylesheet' media='print' />
<script src="{{ url_for('static', filename='lib/moment.min.js') }}"></script>
<script src="{{ url_for('static', filename='lib/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='fullcalendar.min.js') }}"></script>
<link href="https://fonts.googleapis.com/css?family=PT+Serif" rel="stylesheet">


<script>

	$(document).ready(function() {

		$('#calendar').fullCalendar({
			header: {
				left: 'prev,next today',
				center: 'title',
				right: 'month'
			},
			defaultDate: new Date(),
			editable: true,
			eventLimit: true,
			events: {
				url: 'data',
				error: function() {
					$('#script-warning').show();
				}
			},
			loading: function(bool) {
				$('#loading').toggle(bool);
			}
		});

	});

</script>

<style>

	body {
		margin: 0;
		padding: 0;
		font-size: 14px;
	}

	#script-warning {
		display: none;
		background: #eee;
		border-bottom: 1px solid #ddd;
		padding: 0 10px;
		line-height: 40px;
		text-align: center;
		font-weight: bold;
		font-size: 12px;
		color: red;
	}

	#loading {
		display: none;
		position: absolute;
		top: 10px;
		right: 10px;
	}

	#calendar {
		max-width: 700px;
		margin: 10px auto;
		padding: 0 10px;
	}

</style>

<link href="{{ url_for('static', filename='sukeesh.css') }}" rel='stylesheet' />

</head>
<body>
<div class="container">
	<!--<h1 align="center">Xcelerate</h1>-->
	<img class = 'resize' src="{{url_for('static', filename='xcelerate.png')}}" alt="xcelerate">

	<p class="lead"></p>
	<center><h4>Hello {{name}}</h4></center>
	<br>
</div>
<div class="month">
<div id="Yo">
	<font color="#2bc493">

	<div style="width: 100%;overflow: hidden; margin-top: 1px; margin-left: 2px;">
		<font size="20" color="#f8f8f8">
			<!--<<>>-->
		<!--<div id="leftPanel" style="width: 200px; height: 660px; float: left; background-color: #2ed39e; position: absolute;">-->
			<!--<br><br>-->
				<!--<div id="time" align="center" style="background-color: #2bc493;"></div>-->
			<!--<br><br>-->
			<!--<<>>-->
			<script type="text/javascript">
				function checkTime(i) {
				    if (i < 10) {
				        i = "0" + i;
				    }
				    return i;
				}

				function startTime() {
				    var today = new Date();
				    var h = today.getHours();
				    var m = today.getMinutes();
				    var s = today.getSeconds();
				    m = checkTime(m);
				    s = checkTime(s);
				    document.getElementById('time').innerHTML = h + ":" + m + ":" + s;
				    t = setTimeout(function () {
				        startTime()
				    }, 500);
				}
				startTime();
			</script>
			</font>
			<!--<font color="#f8f8f8"> <b> &nbsp; &nbsp; &nbsp; Weather</b> </font>-->
			<!--<font size="20" color="#f8f8f8">-->
			<!--<div id="WeatherW" style="width: 199px; background-color: #2bc493;" >-->
				<!--<div id="theCloud" style="width: 20px; float: left;"><i class="fa fa-cloud" aria-hidden="true"></i></div>-->
				<!--<div id="show-weather" style="margin-left: 0px;"></div>-->
			<!--</div>-->

			<!--</font>-->
			<!--<br>-->

			<!--<font color="#f8f8f8">-->
				<!--<b><div id="address" align="center" style="background-color: #2bc493;"></div></b>-->

			<!--<script type="text/javascript">-->
				<!--$.get("http://ipinfo.io", function (response) {-->
				    <!--$("#address").html(response.city + ", " + response.region);-->
				<!--}, "jsonp");-->

				<!--var callbackFunction = function(data) {-->
				    <!--var wind = data.query.results.channel.wind;-->
				    <!--document.getElementById("show-weather").innerHTML = Math.round((wind.chill - 32) / (9 / 5)) + "<sup>o</sup>C";-->
				<!--};-->
			<!--</script>-->
			<!--</font>-->
			<!--<br><br>-->
			<!--<div id='weather'>-->
				<!--<script src="https://query.yahooapis.com/v1/public/yql?q=select wind from weather.forecast where woeid in (select woeid from geo.places(1) where text='Bangalore')&format=json&callback=callbackFunction"></script>-->
			<!--</div>-->

			<!--<div id='AddEvent' align="center"> <button type="button" onclick="func()"> Add Event </button> </div>-->
			<!--<script type="text/javascript">-->
				<!--function func(){-->
					<!--var r1 = prompt("Title : ", " Enter Title ");-->
					<!--var r2 = prompt("Start Date : ", "yyyy-mm-dd");-->
					<!--var r3 = prompt("End Date : ", "yyyy-mm-dd");-->
				<!--}-->
			<!--</script>-->
		<!--</div>-->

		<!--<div id="rightPanel" style="margin-left: 100px; margin-top: 0px;">-->
		<div id = "rightPanel" style = "float: left; margin: 0 1.5%; width: 63%;">
			<div id='loading'>loading...</div>
			<div id='calendar'></div>
		</div>
		<div id = "leftPanel" style = "float: right; margin: 0 2%; width: 30%; height: 120px; line-height: 90px; margin-top: 150px;">
			<h1>Add your Progress</h1>
			<form action="{{ url_for('.home', username=name) }}" method="post">

        	<label for="inputdate" class="sr-only">Input Date</label>
        	<input type="date" name="inputdate" id="inputdate" class="form-control" placeholder="Date">
        	<label for="inputmiles" class="sr-only">Input Miles</label>
        	<input type="text" name="inputmiles" id="inputmiles" class="form-control" placeholder="Number of miles">
			<label for="inputtime" class="sr-only">Input Time</label>
        	<input type="text" name="inputtime" id="inputtime" class="form-control" placeholder="Time">
			<label for="inputtitle" class="sr-only">Input Title</label>
        	<input type="text" name="inputtitle" id="inputtitle" class="form-control" placeholder="Title">

        	<p class="lead"></p>

        	<input class="btn btn-lg btn-success" value="add more" type="submit" name="submit">
			<input class="btn btn-lg btn-success" value="finish update" type="submit" name="submit">
        	</form>
		</div>

	</div>

	</font>s
</div>
</body>
</html>
