<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    {% include 'google_analytics.html' %}
    <link rel="shortcut icon" type="image/x-icon" href="../static/small_logo.png" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/signup.css" rel="stylesheet">

    {% block head %}
        <meta charset="utf-8" />
        <!-- Set the viewport width to device width for mobile -->
        <meta name="viewport" content="width=device-width" />
        <link rel="shortcut icon" type="image/x-icon" href="./static/small_logo.png" />
        <title>Home</title>
        <!-- Included CSS Files (Uncompressed) -->
        <!--
        <link rel="stylesheet" href="{{ url_for('static', filename='foundation/stylesheets/foundation.css') }}">
        -->
        <!-- Included CSS Files (Compressed) -->
        <link rel="stylesheet" href="{{ url_for('static', filename='foundation/stylesheets/foundation.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='foundation/stylesheets/app.css') }}">
        <script src="{{ url_for('static', filename='foundation/javascripts/modernizr.foundation.js') }}"></script>
        <!-- IE Fix for HTML5 Tags -->
        <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <style type="text/css"><!--

        td.past-month {
            color: #bbb;
        }

        #cal table {
            margin: 0 10%;
            width: 80%;
            height: 80%;
        }

        #cal h1 {
            background-color: #fff;
            padding: 3px;
        }

        //--></style>
    {% endblock %}
</head>
<body>
    <div class="container">
        <img class = 'resize' src="{{url_for('static', filename='xcelerate.png')}}" alt="xcelerate" style = "width:150px; height: auto;">

        <p class="lead"></p>
        <br>
    </div>
    {% block body %}
    <!--<div id = "rightPanel" style = "float: left; width: 73%;">-->
    <div class="row" id = "rightPanel" style = "position:relative; float: left; margin: 0 0.3%; width: 70%; height:60%; padding:50px;">
        <div class="twelve columns centered">
            <div id="cal" align = 'center'>
                {% for month in cal %}
                {% set current_month = loop.index %}
                <div>
                    <h1>{{ list_month[loop.index0] }} {{ year }}</h1>
                    <table>
                        <tr>
                            {% for dow in weekdays %}
                            <td>
                                {{ dow }}
                            </td>
                            {% endfor %}
                        </tr>
                        {% for week in month %}
                        <tr height="133">
                            {% for date in week %}
                                {% if date.month == current_month %}
                                <td class="current-month" width="95">
                                {% else %}
                                <td class="past-month" width="95">
                                {% endif %}
                                {{ date.day }}
                                {% for run in logged_training %}
                                    {% if date.year == run[1] and date.month == run[2] and date.day == run[3] %}
                                    <br>
                                    <img src="{{url_for('static', filename='runner_black.png')}}" alt="blackrunner">
                                    <p align="right" style = "font-family: Tahoma, Geneva, sans-serif; color: black;">{{ run[0] }} miles</p>
                                    {% endif %}
                                {% endfor %}
                                {% for run in training_list %}
                                    {% if date.year == run[1] and date.month == run[2] and date.day == run[3] %}
                                    <br>
                                    <img src="{{url_for('static', filename='runner_blue.png')}}" alt="bluerunner">
                                    <p align="right" style = "font-family: Tahoma, Geneva, sans-serif; color: black;">{{ run[0] }} miles</p>
                                    {% endif %}
                                {% endfor %}

                                {% if date.year == race_date[1] and date.month == race_date[2] and date.day == race_date[3] %}
                                <br>
                                <img src="{{url_for('static', filename='finishline.png')}}" alt="finish">
                                <p align="center" style = "font-family: Tahoma, Geneva, sans-serif; color: black; position: relative; top: -30px; font-weight: bold; font-size: 150%;">{{ race_miles }} </p>
                                {% endif %}




                                </td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    </div>

    {% endblock %}
        <div id = "leftPanel" style = "float: left; width: 20%; height: 50%; line-height: 25px; margin-top: 150px; margin-bottom: 25px;">
            <h4 align="center">Record Training</h4>
            <form action="{{ url_for('.home', username=username) }}" method="post" style = "width: 150px; height: 150px; margin: auto; position: relative;">
            <label for="inputdate" class="sr-only">Input Date</label>
            <input type="date" name="inputdate" id="inputdate" class="form-control" placeholder="Date">
            <label for="inputmiles" class="sr-only">Input Miles</label>
            <input type="text" name="inputmiles" id="inputmiles" class="form-control" placeholder="Distance (miles)">

            <p style="line-height: 25px; margin-top: 10px; margin-bottom: 5px;">My training plan is: </p>
            <input type="radio" name="inputdifficulty" value="1" style = "line-height: 5px; padding: 7px; "> Just Right<br/>
            <input type="radio" name="inputdifficulty" value="0" style = "line-height: 5px; padding: 7px; "> Too Easy<br/>
            <input type="radio" name="inputdifficulty" value="2" style = "line-height: 5px; padding: 7px; "> Too Hard

            <p class="lead"></p>
            <input class="btn btn-sm btn-success" value="Add More" type="submit" name="submit" style="font-size: 12px; padding: 12px;" onclick="gtag('event', 'reference', {'event_category' : 'submit', 'event_label' : 'training', 'value' : 0 });">
            <input class="btn btn-sm btn-success" value="Finished" type="submit" name="submit" style="font-size: 12px; padding: 12px;" onclick="gtag('event', 'reference', {'event_category' : 'submit', 'event_label' : 'training', 'value' : 0 });">

            </form>
    </div>
    {% block tail %}
        <!-- Included JS Files (Compressed) -->
        <script src="{{ url_for('static', filename='foundation/javascripts/foundation.min.js') }}"></script>
        <!-- Initialize JS Plugins -->
        <script src="{{ url_for('static', filename='foundation/javascripts/app.js') }}"></script>
        <script type="text/javascript">
        $(window).load(function() {
            $('#cal').orbit({
                animation: 'fade',
                animationSpeed: 0,
                timer: false,
                directionalNav: true,
                fluid: '4x4'
            });
       });
    </script>
    {% endblock %}
</body>
</html>