<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'google_analytics.html' %}
    <link rel="shortcut icon" type="image/x-icon" href="./static/small_logo.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pick Race</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/signup.css" rel="stylesheet">

  </head>

  <body>

        <img class = 'resize' src="{{url_for('static', filename='xcelerate.png')}}" alt="xcelerate">
        <h4 align = 'center'><font color="#4d73be">Pick a Race</font></h4>
        <br><br><br><br>

    {% for k in range(len1)%}
    <center>
        <table style="width:80%">
            <tr>
              <td width="20%"></td>
              <td width="20%"></td>
              <td width="20%"></td>
            </tr>
            <tr>
            <td align="right" valign="left"><img style = "width:  150px;,height: 150px;" src="../static/{{id_[k]}}.png" alt="race"></td>
            <td rowspan="2">
            <a href="{{url_link[k]}}">{{title[k]}}</a>
            <br>
            <p><img style = "max-width:10%; max-height:10%;" src="../static/location.png" alt="location">  {{location[k]}}</p>
            <br>
            <p><img style = "max-width:10%; max-height:10%;" src="../static/runner_black.png" alt="date">   {{printed_distance[k]}}</p>
            </td>
            <td>
            <br>
            <p><img style = "max-width:12%; max-height:12%;" src="../static/calendar.png" alt="date">   {{race_date[k]}}</p>
            <br>
            <form class="form-signin" action="{{url_for('redirecting_pick_race', username=username, race_id=id_[k])}}" method="post">

            <input class="btn btn-lg btn-success" type="submit" value="Creat Plan" onclick="gtag('event', 'reference', {'event_category' : 'submit', 'event_label' : 'distance', 'value' : 0 });">

            </form>
            </td>
            </tr>

        </table>
    </center>
        <hr>
    {% endfor%}


    <form class="form-signin" action="{{url_for('race_distance', username=username)}}">
    <center>
      <input class="btn btn-lg btn-success" type="submit" value="Race not Included" onclick="gtag('event', 'reference', {'event_category' : 'submit', 'event_label' : 'distance', 'value' : 0 });">
    </center>
    </form>

  </body>
</html>


