<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Xcelerate race type</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/signup.css" rel="stylesheet">

  </head>

  <body>
  <div class="container">
     <img class = 'resize' src="{{url_for('static', filename='xcelerate.png')}}" alt="xcelerate">
     <h4 align = 'center'><font color="#4d73be">Choose the type of race</font></h4>

    <form class="form-signin" action="{{url_for('daysperweek', username=username)}}" method="post">

          <input type="radio" name="typerace" value="5k" required autofocus> 5K<br>
          <input type="radio" name="typerace" value="10k" required autofocus> 10k<br>
          <input type="radio" name="typerace" value="HM" required autofocus> Half Marathon<br>
          <input type="radio" name="typerace" value="M" required autofocus> Marathon<br>
        <center>
          <input class="btn btn-lg btn-success" type="submit" value="Submit">
        </center>
    </form>
  </div>
  </body>
</html>

