<!DOCTYPE html>
<html>
  <head>
    <link rel="shortcut icon" type="image/x-icon" href="../static/small_logo.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Preferences</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/signup.css" rel="stylesheet">

  </head>

  <body>
  <div class="container">
     <img class = 'resize' src="{{url_for('static', filename='xcelerate.png')}}" alt="xcelerate">
     <h4 align = 'center'><font color="#4d73be">What sort of runner would you classify yourself as?</font></h4>

    <form method="post" action="{{url_for('daysperweek', username=username)}}" enctype='multipart/form-data'>

          <center><input onclick="myTest()" type="radio" name="runner_type" value="0" required autofocus> Novice      <br></center>
          <center><input onclick="myFunction()" type="radio" name="runner_type" value="1" required autofocus> Intermediate<br></center>

       <div id="myDIV" style="display: none;"> 
        <h4 align = 'center'><font color="#4d73be">How do you want to tell us about your training?</font></h4>
       <center>
       <button formaction="{{ url_for('.upload', username=username) }}">Upload Data (GPX, csv)</button>
       <button formaction="{{ url_for('.rdirect', username=username) }}">Q&A</button>
       </center>
       </div>

       <div id="myTEST" style="display: none;">
       <br>
       <br>
        <center><input type='submit' value='Submit'></center>
       </div>

    </form>
  </div>

  <script>
function myFunction() {
    var x = document.getElementById("myDIV");
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
}
</script>

<script>
function myTest() {
    var x = document.getElementById("myTEST");
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
}
</script>

  </body>
</html>

