<!DOCTYPE html>
<html lang="en">

<head>
    <title>Xcelerate</title>


    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">


</head>

<body>

        <div class="jumbotron">
            <h1 align="center">Xcelerate</h1>
            <p class="lead"></p>
            <center><a class="btn btn-lg btn-success" href="showSignup" role="button">Sign up</a></center>
            <p></p>
            <center><a class="btn btn-lg btn-success" href="login" role="button">Login</a>
            </center>
        </div>



        <footer class="footer">
            <center>&copy; Xcelerate 2018</center>
        </footer>

</body>

</html>