<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Xcelerate signup page</title>


    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/signup.css" rel="stylesheet">

  </head>

  <body>

      <div class="jumbotron">
        <h1 align = 'center'>Xcelerate</h1>
        <form class="form-signin">
        <label for="inputName" class="sr-only">Name</label>
        <input type="text" name="inputName" id="inputName" class="form-control" placeholder="Name" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="inputPassword" id="inputPassword" class="form-control" placeholder="Password" required>

        <button id="btnSignUp" class="btn btn-lg btn-primary btn-block" type="button">Log In</button>
        <script src="../static/js/jquery-3.3.1.min.js"></script>
        <script src="../static/js/signUp.js"></script>
      </form>
      </div>


      <footer class="footer">
        <center>&copy; Xcelerate 2018</center>
      </footer>

  </body>
</html>


